<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
<title>POSTサンプル</title>
</head>
<body>

<p>POSTサンプル</p>

<%= form_for(@nows, url: {action: 'reset', method: :post}, html:{class: 'inquiry'} ) do |f| %>

                <%= f.text_field :user_id, class: 'required-item', id: 'team-name', placeholder: 'id'%><br>
                <%= f.text_field :now_position_x, class: 'mail required-item', id: 'team-mail-address'%><br>
                <%= f.text_field :now_position_y, class: 'mail required-item', id: 'team-mail-address'%><br>
                <%= f.submit class: 'submitbutton', value: '「POSTする', data: { disable_with: '問い合わせ中...' } %>
              <% end %>


</body>
</html>